<h1>Articles Tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li>
  <!--<li> <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></li>-->
  <%=link_to 'Back',articles_path()%>
  <% end %>
</ul>
